<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side"> 
        <button mat-raised-button (click)="openCurrencyCalculator()">Currency Calculator</button>
    </mat-drawer>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-card class="example-card">
        <h2 align="center" style="font-family:SimSun;">Time is monye!</h2>
        <h2 align="center" style="font-family:SimSun">Save time with us!</h2>
        <h2 align="center" style="font-family:SimSun">Find and Checked your currency now!</h2>
        <mat-card-header>
          <img src="https://img.freepik.com/free-photo/3d-white-people-with-alarm-clock-money-time-is-money_58466-3930.jpg?size=626&ext=jpg" width="400" height="200" alt="">
        </mat-card-header>
      </mat-card>

    </div> 
  </mat-drawer-container>
