<form [formGroup] = "currencyForm">
      <mat-card class="example-card">
           <mat-card-content>

             <mat-form-field>
               <mat-label>Currency To</mat-label>
               <mat-select formControlName="CurrencyTo">
                 <mat-option *ngFor="let currencyv of currencyList" [value]="currencyv">
                   {{currencyv}}
                 </mat-option>
               </mat-select>
             </mat-form-field>

                <mat-form-field>
                        <mat-label>Currency From</mat-label>
                        <mat-select formControlName="CurrencyFrom">
                          <mat-option *ngFor="let currencyv of currencyList" [value]="currencyv">
                            {{currencyv}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                <div class="example-container">

                  <mat-form-field>
                    <input matInput placeholder="Number" formControlName="ValueToCalc">
                  </mat-form-field>

                  <button mat-button (click)="ButtonClicked()">

                    Calc
                  </button>

                  <mat-form-field>
                    <input matInput placeholder="Result" formControlName="result">
                  </mat-form-field>

                </div>
        </mat-card-content>
      </mat-card>
    </form>
