<form [formGroup] = "currencyForm">
      <mat-card class="example-card">
           <mat-card-content>
                <mat-form-field>
                        <mat-label>Currency To</mat-label>
                        <mat-select formControlName="selectedCurrency">
                          <mat-option *ngFor="let currencyv of currencyList">
                            {{currencyv}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                <!--mat-form-field>
                  <mat-label>Currency To</mat-label>
                  <mat-select class="form-control" data-val="true" formControlName="currency">
                    <mat-option *ngFor="let currencyss of currencyList">
                      {{ currencyss }}
                    </mat-option>
                  </mat-select>
                </mat-form-field-->

                    <div class="example-container">

                    <mat-form-field>
                            <input matInput placeholder="Number">
                    </mat-form-field>

                    <mat-form-field>
                            <input matInput placeholder="Result">
                    </mat-form-field>
                    </div>
        </mat-card-content>
      </mat-card>
    </form>
