  
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar.mat-primary {
  background: #cbe5f0;
  color: rgb(69, 79, 219);
  background-color: whitesmoke;
}

.mat-raised-button{
  color: white;
  background-color: darkblue;
}

.mat-chip{
  background-color: darkblue;
  color: white;
}
